.header {
	font-size: 14px;
	color: #3B3C3D;

}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.header__top {
	padding: 17px 0 18px;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-link {
	max-width: 100px;

}
.logo-img {
	width: 70%;
}
.header__top-text {
	max-width: 325px;
	line-height: 21px;
	text-align: right;
	text-transform: uppercase;
}
.header__top-btn {
	max-width: 194px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFF;
	background: #3C75C1;
	padding: 12px 43px;
	border: 1px solid transparent;
	transition: all .5s;
}
.header__top-btn:hover {
	background: #FFF;
	color: #3C75C1;
	border: 1px solid #3C75C1;
}
.phone__link {
	font-size: 24px;
	line-height: 29px;
	color: #3B3C3D;
}
.phone__text {
	line-height: 21px;
}
.header__bottom {
	background: #3B3C3D;
	padding: 17px 0 11px;
	position: relative;
}
.header__bottom::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background: #C4C4C4;
	top: 0;
	z-index: 1;
}
.header__bottom-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list__item {
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
}
.list__link {
	color: #FFF;
	position: relative;
	transition: all .5s;
}
.list__link:hover {
	border-top: 5px solid #C9853C;
	padding-top: 11px;
	z-index: 2;
	color: #C9853C;
}